.git
.venv
__pycache__/
*.pyc
*.pyo
*.pyd

ui/node_modules
ui/.nuxt
ui/.output
ui/dist

training/*
!training/artifacts
training/artifacts/*
!training/artifacts/models
training/artifacts/models/*
!training/artifacts/models/imam_ecapa_v2
training/artifacts/models/imam_ecapa_v2/*
!training/artifacts/models/imam_ecapa_v2/best_model.pt
