# Ignorer les fichiers de configuration
.env
.vscode

# Ignorer les dossiers de configuration
config/
venv_librosa/
opensearch-security/
performance-analyzer/

# Ignorer les dossiers de données
audios/
output/

# Ignorer les fichiers compilés Python
*.pyc
__pycache__/

# Fichiers d'archivage
models/archive/
mfcc_data/archive/
