fastapi==0.115.0
uvicorn[standard]==0.30.6
python-multipart==0.0.9

faster-whisper==1.1.1
rapidfuzz==3.9.7
librosa==0.10.2.post1
numpy==1.26.4
ctranslate2==4.6.2
av==12.3.0
torch==2.8.0
torchaudio==2.8.0
speechbrain==1.0.3
soundfile==0.12.1
huggingface_hub==0.25.2
