fastapi==0.115.0
uvicorn[standard]==0.30.6
python-multipart==0.0.9

faster-whisper==1.1.1
rapidfuzz==3.9.7
librosa==0.10.2.post1
numpy==1.26.4
ctranslate2==4.6.2
av==12.3.0

scikit-learn
tensorflow
python-multipart
